/*MEDIA QUERIES*/

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
/*SIDE MENU*/
#side-menu {
	/*border: 1px solid white;*/
	background-image: url('assets/yellow-background-2.png');
	height: 400px;
	width: 310px;
	/*height: 0;*/
	/*width: 0;*/
	/*border-left: 200px solid transparent;*/
	/*border-right: 200px solid transparent;*/
	/*border-bottom: 200px solid transparent;*/
	background-size: cover;
	float: right;
	position: absolute;
	right: 0px;
	visibility: hidden;
	z-index: 1;
	/*opacity: 0.5;*/
    /*filter: alpha(opacity=50); /* For IE8 and earlier */*/
}

#x-icon{
	background-image: url('assets/x-icon.png');
	height: 26px;
	width: 28px;
	background-size: cover;
	float: right;
	top: 23px;
	right: 32px;
	position: relative;
}

ul {
	list-style-type: none; 
	/*removes bullets*/
	margin: 0;
	padding: 0;
	margin-top: 177px;
}
li a {
	display: block;
	/*text-decoration: none;*/
	color: black;
	font-family: 'Varela Round', sans-serif;
	font-size: 15px;
	margin: 12px;
	text-align: center;
}

li a:hover {
	color: grey;
	text-decoration: none;

}
/*NAV BAR*/
#nav-bar {
	height: 100px;
	/*border: 1px solid red;*/
	width: 100%;
}

#side-menu-icon {
	height: 40px;
	width: 40px;
	background-image: url("./assets/nav-menu-icon.png");
	background-size: cover;
	background-position: center;
	float: right;
	border: 0px;
	border: none;
	margin: 28px;
	margin-top: 18px;
	visibility: visible;
	/*border: 1px solid red;*/
}

#name-icon {
	float: left;
	font-family: 'Varela Round', sans-serif;
	margin: 28px;
	margin-left: 42px;
	font-size: 20px;
	/*border: 1px solid red;*/
}

body {
	background-color: #f7f49e;
}

/*MAIN CONENT*/
#main-content {
	/*border: 1px solid blue;*/
	height: 600px;
	/*position: absolute;*/
	width: 100%;
	margin: 0 auto;

}

#slogan {
	font-family: 'Pacifico', cursive;
	margin: 0 auto;
	height: 200px;
	width: 400px;
	font-size: 40px;
	position: relative;
	/*border: 1px solid blue;*/
	top: 20%;
}

#slogan-text {
/*	width: 300px;*/
	margin: 0 auto;
	text-align: center;
}
/*EYE CSS*/

#svg-eye {
	/*top: -138px;*/
	/*left: 83px;*/
	position: relative;
	/*border: 1px solid green;*/
	margin: 0 auto;
	width: 110px;
}

svg {
  margin: auto;
}

#lid {
  animation: blink 2.4s infinite;
}
#eye {
  animation: squeeze 2.4s infinite;
}

@keyframes blink {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(15px) scaleY(0)
  }
  100% {
    animation-timing-function: ease-out;
  }
}
@keyframes squeeze {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(3px) scaleY(0.8)
  }
  100% {
    animation-timing-function: ease-out;
  }
}

